<!DOCTYPE html>
<html lang="en">
  <%- include('partials/headerPartial') %>
  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar start -->
    <%- include('partials/navbarPartial') %>
    <!-- Navbar End -->

    <!-- Carousel Start-->
    <%- include('partials/carouselPartial') %>
    <!-- Carousel End -->

    <!-- About Start -->
    <%- include('partials/aboutPartial') %>
    <!-- About End -->

    <!-- Services Start -->
    <%- include('partials/servicePartial') %>
    <!-- Services End -->

    <!-- Achievements Start -->
    <%- include('partials/achievementsPartial') %>
    <!-- Achievements End -->

    <!-- Recent Projects Start -->

    <!-- Recent Projects End -->

    <!-- Events Start -->
    <%- include('partials/eventsPartial') %>
    <!-- Events End -->

    <!-- Blog Start -->
    <%- include('partials/blogPartial') %>
    <!-- Blog End -->

    <!-- Gallery Start -->
    <%- include('partials/galleryPartial') %>
    <!-- Gallery End -->

    <!-- Footer Start -->
    <%- include('partials/footerPartial') %>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a
      href="#"
      class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"
      ><i class="fa fa-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
  </body>
</html>
